<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My account</title>
</head>
<body>
    <%- include('common/header'); -%>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(account => { %>
                <tr>
                    <td><%= account.username %></td>
                    <td><%= account.name %></td>
                    <td><%= account.email %></td>
                    <td>
                        <% if(account.level<user.level) { %><a href="/users/editUser/<%= account.id %>">Edit User</a><% } %>  
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>

</body>
</html>