<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin Page</title>
</head>

<body>
    <%- include('common/header'); -%>

        <main class="container mx-auto mt-8 px-4 pt-6 object-fill max-w-screen-md bg-gray-50">
            <div class="pb-2 text-center">
                <p class="text-lg underline font-semibold">Admin Controls</p>
            </div>

            <div class="">
                
                
        
                <div class="py-1 text-center">
                    <p class="text-lg underline ">Resort Saves:</p>
                </div>

                <div class="py-2 pl-48">
                    <table class="table-auto">
                        <thead>
                            <tr>
                                <th class="px-2">Name</th>
                                <th class="px-2">Number of saves</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% resortSaves.forEach(resort=> { %>
                                <tr>
                                    <td class="px-2 text-center">
                                        <%= resort.name %>
                                    </td>
                                    <td class="px-2 text-center">
                                        <%= resort.count %>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
                
                <div class="pb-2 text-center">
                    <p class="text-lg underline ">User Info</p>
                </div>

                <div class="py-1 text-center">
                    <p>Number of users: <%= numUsers %></p>
                </div>

                <div class="py-1 text-center">
                    <p>Number of admins: <%= numAdmins %></p>
                </div>

                <div class="py-2 pl-16">
                    <table class="table-auto">
                        <thead>
                            <tr>
                                <th class="px-1 text-center">Username</th>
                                <th class="px-1 text-center">Name</th>
                                <th class="px-1 text-center">Email</th>
                                <th class="px-1 text-center">On Email List</th>
                                <th class="px-1 text-center">Actions</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(account=> { %>
                                <tr>
                                    <td class="px-1 text-center">
                                        <%= account.username %>
                                    </td>
                                    <td class="px-1 text-center">
                                        <%= account.name %>
                                    </td>
                                    <td class="px-1 text-center">
                                        <%= account.email %>
                                    </td>
                                    <td class="px-1 text-center">
                                        <%= account.emailOptIn %>
                                    </td>
                                    <td class="px-2 text-center underline">
                                        <% if(account.level<user.level) { %>
                                            <a href="/users/editUser/<%= account.id %>"
                                                class="t-sem transition duration-300">Edit
                                                User
                                            </a>
                                            <% } %>
                                    </td>                                      
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
</body>

</html>