<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>
        <%= resortDetails.formattedName %>
    </title>
</head>

<body>
        <%- include('common/header'); -%>

        <main class="container mx-auto mt-8 pb-4 object-fill max-w-md bg-gray-50">


            <div class="text-center pt-4 pb-4">
                <p class="blog-header-logo text-2xl"><%= resortDetails.formattedName %></p>
            </div>
            
            <div class="py-2">
                <div id="curWeath" class="py-1">
                    <p class="text-center">The current weather is:</p>
                    <p class="text-center font-semibold"><%= weatherData.weather[0].description%></p>
                </div>

                <div id="temp" class="py-1">
                    <p class="text-center"> Temperature:</p>
                    <p class="text-center font-semibold"><%= (weatherData.main.temp-273).toFixed(2)%>°C</p>
                </div>

                <div id="wind" class="py-1">
                    <p class="text-center"> Wind Speed:</p>
                    <p class="text-center font-semibold"><%= weatherData.wind.speed%> m/s</p>
                </div>
            </div>

            <div id="bestDate" class="py-2">
                <p class="text-center">Our Algorithm predicts the best 6 week window starts from: </p>
                <p class="text-center font-semibold"><%=bestDate %></p>
            </div>

            <div id="prevWeath" class="py-2">
                <p class="text-center">The previous two weeks of weather:</p> 
                <table class="table-auto">
                    <thead>
                        <tr class="py-3">
                            <td class="px-2 text-center">Date</td>
                            <td class="px-2 text-center">Weather</td>
                            <td class="px-2 text-center">Temperature (°C)</td>
                            <td class="px-2 text-center">Wind Speed (m/s)</td>
                        </tr>
                    </thead>
                    <% 
                    for (let i = 0; i < twoWeekData.cnt; i+=24){ %>
                        <tr class="py-3">
                            <td class="px-2 text-center"><%=new Date(twoWeekData.list[i].dt*1000).toLocaleDateString("en-GB")%></td>
                            <td class="px-2 text-center "><%=twoWeekData.list[i].weather[0].description%></td>
                            <td class="px-2 text-center"><%=(twoWeekData.list[i].main.temp-273).toFixed(2) %></td>
                            <td class="px-2 text-center"><%=twoWeekData.list[i].wind.speed%></td>
                        </tr>
                    <%}%>
                    <% 
                    for (let i = 0; i < oneWeekData.cnt; i+=24){ %>
                        <tr class="py-3">
                            <td class="px-2 text-center"><%=new Date(oneWeekData.list[i].dt*1000).toLocaleDateString("en-GB")%></td>
                            <td class="px-2 text-center"><%=oneWeekData.list[i].weather[0].description%></td>
                            <td class="px-2 text-center"><%=(oneWeekData.list[i].main.temp-273).toFixed(2) %></td>
                            <td class="px-2 text-center"><%=oneWeekData.list[i].wind.speed%></td>
                        </tr>
                    <%}%>
                </table> 
            </div>

            <div id="usersSaved" class="py-2 text-center">
                <p>Users who have saved this resort:</p>
                <% usersSaved.forEach(user => { %>
                    <p><%= user.username %></p>
                <%})%>
            </div>
            
            <div class="flex justify-center">
                <% savedResort=false %> 
                <% if (user && user.saved != null) {%>
                    <% for (let i = 0; i < user.saved.length; i++){ %>
                        <%if (resortDetails.id == user.saved[i]){%>
                            <% savedResort=true;%>
                <%}}}%>


                <% if(!savedResort && user) { %><a href="/user/save/<%=resortDetails.id%>" class="button py-1 px-3 text-white font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">Save</a><% } %>
                <% if(savedResort && user) { %><a href="/user/unsave/<%=resortDetails.id%>" class="button py-1 px-3 text-white font-semibold bg-slate-500 hover:bg-slate-300 border-slate-500 transition duration-300">Unsave</a> <% } %>
            </div>
    </main>

    

</body>

</html>